

body 
{
    min-width:800px;
    
    margin: 5px; 	
    padding: 5px;
	
	/*
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	color: #555; 
	text-align: center;	*/
	

	color: #333333;
font-family: Copperplate / Copperplate Gothic Light, sans-serif;

	text-align: center;

	background: url("../images/background.jpg") #070f1c no-repeat fixed center top;
}

#wrapper 
{
	position: relative;
	z-index: 2;
	width: 960px;
	margin: 40px auto;
	background-color:rgba(255,255,255,0.5);
	
}
	
/* headers */
h1, h2, h3 { font: bold 1em;/* 'Trebuchet MS', Tahoma, Sans-serif; */
}
h1  
{
    font-size: 3em; 
    color: rgba(21, 22, 21, 0.56);
    text-align: left;
    margin-left: 100px;
    -webkit-margin-before: 10px;
	-webkit-margin-after: 10px;
	-webkit-margin-start: 10px;
	-webkit-margin-end: 10px;
}
h2 { font-size: 1.2em; text-transform: uppercase; }
h3 { font-size: 1.2em; }

#subheader {
	font-size: 1.2em;
	margin:10px;
	margin-bottom:20px;
}
#headerimage 
{
    background-image: url("../images/ballyglassheader.png");
	width: 200px;
	height: 140px;
	margin:10px;
}



/* Body Elements */

.nav
{
    float: left;
	width: 250px;
	margin: 10px;
	border-top:1px solid #eee; 
	border-bottom:1px solid #eee; 
	
	background-color:rgba(255,255,255,0.5);
}
.content
{
	/*background-color:Gray;	*/
	float: left;
	right: 100px;
	width: 50%;
	min-width:500px;
	height: 70%;
	
	margin: 10px;
	padding: 20px 20px 20px 20px;
	border-top:1px solid #eee; 
	border-bottom:1px solid #eee;
	
	font-size:1em;
	text-align:left;

	background-color:rgba(255,255,255,0.5);	
}

.links {
	
	float: left;
	right: 0px;
	width: 100px;
	margin: 10px;
	border-top:1px solid #eee; 
	border-bottom:1px solid #eee; 

	background-color:rgba(255,255,255,0.5);
}
.footer {
	bottom: 10px;
	width:100%;
	height:25%;
	float:right;
	padding:20px;
	background-color:rgba(255,255,255,0.5);
}

p
{
	margin: 40px;	
}

.gallery
{
	width:500px;
	height:140px;
	margin-left:20px;
	margin-right:20px;
}

.iconlink {
	width: 50px;
	height: 50px;
}

ul 
{
    list-style-type: none;
	
}

blockquote 
{
    display:block;
    height:140px;
    width:100%;
    min-width:400px;
    padding:0px;
    margin:0px;
}

.blockquoteText {
   /*empty on purpose, this is required.	*/
   font-size: 12;
 
}

.bqstart {
     float: left;
     font-size: 4em;
     color: #FF0000;
 }

 .bqend {
     float: right;
     font-size: 4em;
     color: #FF0000;
 }



.nav ul  
{
	list-style:none; 
	text-align:center; 
	/*border-top:1px solid rgb(204, 201, 201); 
	border-bottom:1px solid rgb(204, 201, 201); */
	padding:10px 0; 
}
.nav ul li  
{
	display:inline; 
	text-transform:uppercase; 
	padding:0 10px; 
	letter-spacing:10px; 
}
.nav ul li a  
{
	text-decoration:none; 
	color:rgb(16, 11, 71);
}
.nav ul li a:hover  
{
	text-decoration:underline; 
}


#galleria
{
	height:320px;
}
