#page-wrap {
    width: 500px;
    margin: 20px auto;
}

.image {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

h1, h2 {
    position: absolute;
    top: 15pc;/*location of text*/
    left: 0;
    width: 100%;
}

    h1, h2 span {
        color: white;
        font: bold 24px/45px Helvetica, Sans-Serif;
        letter-spacing: -1px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.3);/*fade the text background*/
        padding: 10px;
    }

        h1, h2 span.spacer {
            padding: 0 2px;
            background: none;
        }
